.Tab_LineBox{
  display: flex;
  width: 333px;
  height: 105px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  top: 20px;
}

.tabLine{
  position: relative;
  bottom: 35px;
  left: 7.5px;
}

.tabLine2{
  width: 244px;
  height: 29px;
  position: relative;
  bottom: 0px;
  left: 45px;
  background-image: url(./img/OPList_line.png);
}

.Tab_LineBtn{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: calc(10 * 4.8496px);
  position: relative;
  background-color: #8f8f8f;
}

.Tab_LineBtn::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
}

.Tab_LineBtn::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
}

.Tab_LineBtn:nth-child(1){
  top: 30px;
  left: 0.5px;
}

.Tab_LineBtn:nth-child(2){
  top: 4px;
  left: 1px;
}

.Tab_LineBtn:nth-child(3){
  top: 30px;
  left: 1px;
}

.Tab_LineBtn:nth-child(4){
  top: 4px;
  left: 1px;
}

.Tab_LineBtn:nth-child(5){
  top: 30px;
  left: 2px;
}

.Tab_LineBtn:nth-child(6){
  top: 4px;
  left: 1px;
}

.Tab_LineBtn:nth-child(7){
  top: 30px;
  left: 1px;
}

.Tab_LineBtn img{
  position: relative;
  z-index: 100;
}

@media screen and (min-width: 480px) {
  .Tab_SearchBox{
    width: 332px;
  }
  .Tab_Search{
    width: 316px;
  }
  .Tab_LineBox{
    width: 332px;
  }
}

@media screen and (min-width: 1024px) {
  .tabLine2{
    width: 280px;
    height: 29px;
    position: relative;
    bottom: 65px;
    left: 20px;
    background-image: url(./img/OPtab_line.png);
  }

  .Tab_LineBtn{
    background-color: #ffd25a;
  }

  .Tab_LineBtn:nth-child(1){
    top: 0px;
    left: -5px;
  }
  
  .Tab_LineBtn:nth-child(2){
    top: 25px;
    left: -5px;
  }
  
  .Tab_LineBtn:nth-child(3){
    top: 0px;
    left: -5px;
  }
  
  .Tab_LineBtn:nth-child(4){
    top: 25px;
    left: -5px;
  }
  
  .Tab_LineBtn:nth-child(5){
    top: 0px;
    left: -5px;
  }
  
  .Tab_LineBtn:nth-child(6){
    top: 4px;
    left: 1px;
  }
  
  .Tab_LineBtn:nth-child(7){
    top: 30px;
    left: 1px;
  }
}