.Record_Item_List{
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  width: 200px;
}

.Record_My_Champ{
  display: flex;
}

ul{
  margin: 0px;
  padding: 0px;
}

.Game_Player_List{
  margin: 0;
  padding: 0;
  display: flex;
}

.Game_Player_List2{
  display: flex;
  margin: 0;
  padding: 0;
}

.Record_Information{
  width: 60px;
}

.Rune_Spell_Info{
  display: flex;
}

.Runes_Content{
  width: 23px;
}

.Spells_Content{
  width: 30px;
}

.No_Item_List{
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background-color: gray;
  border-radius: 5px;
}