.Tab_Tier_Contents {
  border: solid red 1px;
}

.Tab_User_Tier {
  display: flex;
  justify-content: space-evenly;
}

.Tier_Image {
}

.Tab_Type {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
