.Record_Tab__Container {
  margin-bottom: 20px;
}

.Tab_Tier_Contents {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Tab_User_Tier {
  display: flex;
  justify-content: space-evenly;
}

.Tier_Icon_Image {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.Tab_Tier_Contents_Wrapper {
  width: 50%;
}

.Tab_Tier_Contents_1 {
  font-size: 18px;
}

.Tab_Tier_Contents_2 {
  font-size: 12px;
}

.Tab_Type {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
