.User_Profil{
  width: 190px;
  height: 150px;
  margin-right: 30px;
}

.Icon_Image{
  width: 90px;
  border-radius: 5px;
}

.Information_Contents{
  display: flex;
  padding-top: 10px;
}

.User_Information_Container{
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.User_Name{
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}