.User_Information_Container {
  border: solid green 1px;
  height: 200px;
  display: flex;
  margin: 25px 0;
}

.Dark_Mode {
  background-image: url("./../Assets/DarkBG.png");
}

.Light_Mode {
  background-image: url("./../Assets/LightBG.png");
}

.User_Profile {
  width: 40%;
  height: 200px;
}

.Information_Contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.Icon_Image {
  width: 120px;
  height: 140px;
}

.User_Name {
  font-size: 30px;
}

.Tier_Information {
  width: 60%;
}
