.Logo_Container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Home_Button_Container {
  z-index: 1;
  height: 18px;
  text-decoration: none;
  position: absolute;
  left: 13.5%;
  top: 43%;
}

.Gradation_Header {
  width: 100%;
  height: 69px;
  background: rgb(180, 90, 36);
  background: linear-gradient(
    90deg,
    rgba(180, 90, 36, 0.97) 2.991%,
    rgba(251, 176, 59, 0.5) 51.3966%,
    rgba(180, 90, 36, 1) 100%
  );
  position: absolute;
  opacity: 0.8;
  left: 0;
}

.Dark_Gradation_Header {
  width: 100%;
  height: 69px;
  background: linear-gradient(
    90deg,
    rgba(23, 14, 22, 0.97) 2.991%,
    rgba(30, 26, 49, 0.5) 51.3966%,
    rgba(23, 14, 22, 1) 100%
  );
  position: absolute;
  opacity: 0.8;
  left: 0;
}

.Header_Image {
  width: 100%;
  height: 69px;
  position: relative;
  right: 0px;
  bottom: 0px;
}

.Dark_Header_Image {
  width: 100%;
  height: 69px;
  position: relative;
  right: 0px;
  bottom: 0px;
}

.Header_Image_Desktop {
  display: none;
}

.Dark_Header_Image_Desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .Header_Input_Container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Header_Image {
    display: none;
  }

  .Dark_Header_Image {
    display: none;
  }

  .Home_Button_Container {
    position: absolute;
    left: 7%;
  }

  .Header_Input_Container {
    position: absolute;
    right: 110px;
    top: 18px;
  }

  .Header_Image_Desktop {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 1px;
  }

  .Dark_Header_Image_Desktop {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .Home_Button_Container {
    left: 8%;
  }

  .Header_Input_Container {
    right: 160px;
    top: 18px;
  }

  .Header_Image_Desktop {
    width: 1024px;
    position: relative;
    right: 0px;
    bottom: 0.5px;
  }

  .Dark_Header_Image_Desktop {
    width: 1024px;
    position: relative;
    right: 0px;
    bottom: 0.5px;
  }
}
