#Search_Input{
  position: absolute;
  border: none;
  width: 220px;
  height: 28.8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Search_Input:focus{
  outline: none;
}

.Search_Input_Box{
  position: relative;
  width: 420px;
}

.Search_Input_Box input{
  background-color: transparent;
}

.Search_Input_Box div{
  background-color: #a7a7a7;
}

.Search_Input_Box button{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  #Search_Input{
    width: 250px
  } 
}

.Search_Button{
  position: absolute;
  top: 36px;
  left: 260px;
  font-weight: bold;
  font-size: 0.9rem;
  padding-right: 0.4rem;
  background: none;
  height: 28.5px;
  border: none;
  margin-left: -1px;
}

.Tab_SearchBox{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 44px;
  padding: 8px 8px 0 8px;
  position: relative;
  color: #FF9600;
}

.Tab_SearchImg{
  position: absolute;
  top: 14px;
  left: 18px;
}

.Tab_Search{
  width: 342px;
  height: 42px;
  padding: 8px 16px 8px 40px;
  box-sizing: border-box;
  border-radius: 42px;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  font-size: 14px;
  color: #FF9600;
}

.Tab_Search::placeholder{
  color: #FF9600;
  font-size: 16px;
}