#Main__Container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.Card__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.position_container {
  display: flex;
}

.champion_container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%
}

.champion_list {
  border: 1px solid blue;
  height: 100%;
}

.search_champ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.line_container {
  border: 1px solid blue;
  display: flex;
  height: 100vh;
}

.contents_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}

.Card__Section {
  display: flex;
}