
/************ css 초기값설정 ************/
html,body,h1,h2,h3,h4,h5,ul,ol,li,p{
    padding: 0;
    margin: 0;
    border: none;
}

li{
    list-style: none;
       
}
/************ 레이아웃 임시설정 ************/
#Layout{
    background-color: skyblue;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1200px;
}
/************ header ************/
.Detail_Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 30px;
    height: 330px;
    background-color: #2c3245;
}

.Profile {
    flex: 1;
}

.Skill{
    flex: 3;
}
/************ Main ************/
.Detail_Main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
}

.Common__Build{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.Runes__Build{
    border: 1px solid black;
    flex: 4;
}

.First__Build{

    border: 1px solid black;
    margin: 0 10px;
    flex: 2;
}
.Skill__Bulid{
    flex: 1;
    margin: 5px;
    background-color: gray;

}

.Item__Bulid{
    flex: 2;
    margin: 5px;
    height: 200px;
    background-color: darkcyan;
}

*{
    outline: 1px solid red;
    
}
