#Main__Container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

.Card__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.ChampionPrice__Container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
}

.ChampionPrice__List {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(8, 244, 0);
  height: 100%;
}

.Search__Champ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.Contents__Container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Card__Section {
  display: flex;
}

input {
  width: 150px;
}

.Card__Container {
  margin-top: 100px;
}

#Champion__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
}

.InfoText {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Rank__Info {
  margin-right: 230px;
}

.Champ__Info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.PosBox {
  display: flex;
  justify-content: space-around;
}

.Position__Box {
  display: flex;
  width: 100%;
  padding: 0;
}

.PricePosition__Container {
  display: flex;
  height: 40px;
  padding: 0;
  margin: 0;
}
