.User__Information__Container {
  width: 1200px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User__Profil {
  width: 300px;
  height: 150px;
}

.Tier__InforMation {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Tab__Tier__Container {
  display: flex;
}

.Tab__Tier__Contents{
  margin-left: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.Tab__Tier__Contents__1{
  font-size: 20px;
  font-weight: bold;
}

.Tab__Tier__Contents__2{
  font-size: 17px;
}

.Information__transfer__Container {
  width: 1200px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  border-top: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.Information__transfer__Container > span {
  font-weight: bold;
  font-size: 20px;
}

.Record__Tab__Container {
  width: 1200px;
  height: 85px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.Record__Tab__Container > div {
  height: 42.5px;
}

.Tab__Title {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Tab__Title > span {
  font-weight: bold;
  font-size: 20px;
  padding-left: 6px;
}

.Tab__Type {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.Information__Contents {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.Icon__Image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.User__Name {
  font-size: 60px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Record__My__Champ{
  display: flex; 
}

.KDA__InfoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.Game__Result__Information{
  display: flex;
}

.Game__Player__List{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 16px;
}

.Game__Player__List2{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 16px;
}

.Nav__bar{
  min-width: 1200px;
}

.Tab__User__Tier{
  display: flex;
}