
/************ css 초기값설정 ************/
*{
    outline: 1px solid red;
    
}
html,body,h1,h2,h3,h4,h5,ul,ol,li,p{
    padding: 0;
    margin: 0;
    border: none;
}


li{
    list-style: none;
}

/************ 레이아웃 임시설정 ************/

#layout{
    background-color: skyblue;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1200px;
}

.rune{
    outline: 1px solid black;
    height: 500px;
}
.item{
    outline: 1px solid black;
    height: 300px;
}

/************ champion ************/
.champion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #2c3245;
}

.profile {
    flex: 1;
}

.Skill{
    flex: 3;
}