.Card__Front {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Garen_0.jpg");
    background-size: 100% 100%;
}

.Card__Back {
    background-image: url("/public/Image/top.jpg");
    background-size: 100% 100%;
}