.Card__Front0 {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Garen_0.jpg");
    background-size: 100% 100%;
}

.Card__Back0 {
    background-image: url("/public/Image/top.jpg");
    background-size: 100% 100%;
}

.Card__Front1 {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Karthus_0.jpg");
    background-size: 100% 100%;
}

.Card__Back1 {
    background-image: url("/public/Image/jungle.jpg");
    background-size: 100% 100%;
}

.Card__Front2 {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Irelia_6.jpg");
    background-size: 100% 100%;
}

.Card__Back2 {
    background-image: url("/public/Image/mid.jpg");
    background-size: 100% 100%;
}

.Card__Front3 {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_11.jpg");
    background-size: 100% 100%;
}

.Card__Back3 {
    background-image: url("/public/Image/bottom.jpg");
    background-size: 100% 100%;
}

.Card__Front4 {
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg");
    background-size: 100% 100%;
}

.Card__Back4 {
    background-image: url("/public/Image/support.jpg");
    background-size: 100% 100%;
}


