.Footer__Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 125px;
}

.Members__Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Member {
  width: 250px;
  height: 100px;
}

.Footer__Wrapper a {
  color: white;
  text-decoration: none;
}
