#Serch_Input{
  height: 1.0rem;
  border: none;
  border-radius: 10px;
  outline-style: none;
  padding-left: 0.5rem;
  font-size: 0.6rem;
  width: 5rem;
  font-weight: bold;
  height: 1.7rem;

  @media screen and (min-device-width: 480px) {
    
  }

  @media screen and (min-device-width: 768px) {

  }

  @media screen and (min-device-width: 1024px) {

  }
}

.Serch_Button_Name{
  position: absolute;
  font-size: 0.9rem;
  padding-right: 0.4rem;
}