.Lotation__Container {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px;
  place-content: center;
  column-gap: 20px;
  row-gap: 20px;

  line-height: 90px;
}

.Lotation__Img {
  width: 70px;
  border-radius: 50%;
}
