.Champion_List_Containor {
  display: flex;
  flex-wrap: wrap;
  width: 23.438rem;
  gap: 7px;
}

.Right_Aside_Container {
  background-color: gray;
  width: 100%;
  display: flex;
  padding-top: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media screen and (min-device-width: 480px) {
    height: 4rem;
  }

  @media screen and (min-device-width: 768px) {
  }

  @media screen and (min-device-width: 1024px) {
  }
}

.Champion__List {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
