.Right_Aside_Container {
  display: flex;
  width: 100%;
  height: 377px;
  background-image: url(../CommonComponents/lightBG.png);
  justify-content: center;
}

.Dark_Right_Aside_Container{
  display: flex;
  width: 100%;
  height: 377px;
  background-image: url(../CommonComponents/lightBG.png);
  justify-content: center;
}

.Champion__List {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.Champion_List{
  position: relative;
  z-index: 100;
}

.Champion_List_Container {
  position: absolute;
  top: 242px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 321px;
  height: 294px;
  gap: 0.4em;
  overflow-y: scroll;
  background-color: rgb(198, 156, 109, 0.2);
}

.Dark_Champion_List_Container{
  position: absolute;
  top: 211px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 321px;
  height: 294px;
  gap: 0.4em;
  overflow-y: scroll;
  background-color: rgb(198, 156, 109, 0.2);
}

.Champion_List_Container::-webkit-scrollbar{
  display: none;
}

.Dark_Champion_List_Container::-webkit-scrollbar{
  display: none;
}

.Champion_List_Name {
  display: flex;
  font-size: 9px;
  color: white;
  justify-content: center;
}

.Champ_Image {
  width: 34.5px;
}

.Champ_Image:hover,
.Champ_Image:focus {
  border: solid white 1px;
  cursor: pointer;
  transition: all 0.7s;
}

.RIP {
  width: 40px;
  opacity: 0.45;
}

.Layout_Container{
  width: 351px;
  height: 328px;
  display: flex;
  justify-content: center;
  background-image: url(../CommonComponents/ChampionSection.png);
  background-repeat: no-repeat;
  padding-top: 24px;
}

.Dark_Layout_Container{
  width: 351px;
  height: 328px;
  display: flex;
  justify-content: center;
  background-image: url(../CommonComponents/ChampionSection.png);
  background-repeat: no-repeat;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .Champion_List_Container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 274px;
    height: 282px;
    gap: 0.4em;
    overflow: scroll;
    background-color: rgb(198, 156, 109, 0.2);
    bottom: 19px;
    top: 204px;
  }
  
  .Dark_Champion_List_Container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 274px;
    height: 282px;
    gap: 0.4em;
    overflow: scroll;
    background-color: rgb(198, 156, 109, 0.2);
    bottom: 19px;
    top: 204px;
  }

  .Layout_Container{
    z-index: 1;
    position: absolute;
    width: 280px;
    height: 297px;
    display: flex;
    justify-content: center;
    background-image: url(../CommonComponents/PcChampionList.png);
    background-repeat: no-repeat;
  }

  .Champ_Image {
    width: 34px;
  }

  .Champion_List_Name {
    display: flex;
    font-size: 10px;
    color: white;
    justify-content: center;
  }
  
}
