.OPList_Box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 400px;
}

.Champion_HeaderBox {
  display: flex;
  align-items: center;
  width: 260px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #1b1464;
  gap: 2%;
  position: sticky;
  z-index: 2;
  left: 0px;
  top: 10px;
}

.OPChampion_List {
  height: 350px;
  overflow: auto;
}
.OPChampion_List::-webkit-scrollbar {
  display: none;
}

/* 챔피언 한줄 */

.Champion_Box {
  position: relative;
  width: 260px;
  display: flex;
  height: 37px;
  font-size: 11px;
  text-align: center;
  align-items: center;
  gap: 7px;
}

.Champion_left_Box {
  display: flex;
  align-items: center;
  width: 220px;
  height: 34px;
  border-radius: 10px;
  background-color: white;
}

.Champion_right_Box {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}

.Champion_right_Box img {
  width: 100%;
  border-radius: 50%;
}

.Champion_Img {
  width: 32px;
  height: 32px;
}

.Champion_Name {
  text-align: center;
  width: 26%;
  font-weight: 900;
  color: #1b1464;
}

.Champion_Tier {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 6%;
  top: 6%;
}
