.Op_List_Container{
  position: relative;
  width: 310px;
  height: 540px;
  border: 1px solid rgba(0, 113, 188, 0.6);
  background-image: url('./img/OPListBG.png');
}

.main{
  display: none;
}

@media screen and (min-width: 1024px) {
  .Op_List_Container{
    display: flex;
    flex-direction: column;
    background-image: none;
    border: none;
  }
}