*{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-size: 125%;
     -webkit-text-size-adjust:none; 
}

@media screen and (min-device-width: 320px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-device-width: 360px) {
  html {
    font-size: 70.3125%;
  }
}

@media screen and (min-device-width: 375px) {
  html {
    font-size: 73.2421%;
  }
}

@media screen and (min-device-width: 412px) {
  html {
    font-size: 80.4688%;
  }
}

@media screen and (min-device-width: 414px) {
  html {
    font-size: 80.8594%;
  }
}

@media screen and (min-device-width: 640px) {
  html {
    font-size: 125%;
  }
}