body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 80.4688%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 80.8594%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 125%;
  }
  body {
    width: 1024px;
  }
  main {
    flex-direction: row;
  }
}
