.Effect-blind1 {
  clip: rect(0px, 86.7px, 86.7px, 43.35px);
}

.Effect-blind2 {
  clip: rect(43.35px, 86.7px, 86.7px, 0px);
}

.Effect-blind3 {
  clip: rect(0px, 43.35px, 86.7px, 0px);
}

.Effect-blind4 {
  clip: rect(0, 86.7px, 43.35px, 0);
}

.quadrant1 {
  border: 3px solid transparent;
  background-image: 1;
  clip: rect(0px, 86.7px, 43.35px, 43.35px);
}

.quadrant2 {
  clip: rect(43.35px, 86.7px, 86.7px, 43.35px);
  border: 3px solid transparent;
  background-image: linear-gradient(
    90deg,
    rgba(251, 190, 59, 1) 0%,
    rgba(247, 147, 30, 1) 100%
  );
  background-image: 1;
}

.quadrant3 {
  clip: rect(43.35px, 43.35px, 86.7px, 0px);
  border: 3px solid transparent;
  background-image: linear-gradient(
    90deg,
    rgba(251, 190, 59, 1) 0%,
    rgba(247, 147, 30, 1) 100%
  );
  background-image: 1;
}

.quadrant4 {
  clip: rect(0, 43.35px, 43.35px, 0);
  border: 3px solid transparent;
  background-image: linear-gradient(
    90deg,
    rgba(251, 190, 59, 1) 0%,
    rgba(247, 147, 30, 1) 100%
  );
  background-image: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
